.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #333; /* Cambiado el color de fondo */
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.titulo {
    color: white;
    text-align: center;
}

    .titulo:hover {
        color: #0071c1; /* Nuevo efecto hover para los títulos */
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 1rem; /* Aumentado el espacio entre elementos */
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #000; /* Cambiado el color de las letras a negro */
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        transition: background-color 0.3s ease, color 0.3s ease; /* Nueva transición */
    }


        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        background: linear-gradient(to right, #0071c1, rgb(135, 176, 240)); /* De blanco a celeste */
    }


    .rz-panelmenuitem {
        background-color: rgba(0,0,0,0.4);
        color: #d7d7d7;
    }

        .rz-panelmenuitem:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

        .rz-panelmenuitem.rz-selected {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }
}
