@using Radzen.Blazor

<RadzenMenu class=" estilomenu">
    <ChildContent>
        <div style="display: flex; align-items: center;">
            <img src="./assets/images/logopodjud.png" Style="height: 30px; width: 30px; margin-right: 10px;" />
            <RadzenMenuItem Text="Inicio" Path="/" Icon="home"></RadzenMenuItem>

        </div>
        <RadzenMenuItem Text="ABM" Icon="description">
            <RadzenMenuItem Text="Categorías" Icon="account_circle">
                <RadzenMenuItem Text="Nueva Categoría" Path="altaCategoria" Icon="line_weight"></RadzenMenuItem>
                <RadzenMenuItem Text="Listado de Categorías" Path="listaCategorias" Icon="attach_file"></RadzenMenuItem>
            </RadzenMenuItem>


            <RadzenMenuItem Text="Articulos" Icon="chrome_reader_mode">
                <RadzenMenuItem Text="Alta de Artículos" Path="altaArticulo" Icon="add_circle"></RadzenMenuItem>
                <RadzenMenuItem Text="Listado de Articulos" Path="listaArticulos" Icon="list"></RadzenMenuItem>
            </RadzenMenuItem>
            <RadzenMenuItem Text="Unidades de Medida" Icon="3d_rotation">
                <RadzenMenuItem Text="Alta de Unidades de Medida" Path="altaUM" Icon="add_circle"></RadzenMenuItem>
                <RadzenMenuItem Text="Listado de Unidades de Medida" Path="listaUM" Icon="list"></RadzenMenuItem>
            </RadzenMenuItem>
            <RadzenMenuItem Text="Destinos" Icon="account_circle">
                <RadzenMenuItem Text="Nuevo Destino" Path="altaDestino" Icon="bookmark"></RadzenMenuItem>
                <RadzenMenuItem Text="Listado de Destinos" Path="listaDestinos" Icon="list"></RadzenMenuItem>
            </RadzenMenuItem>
        </RadzenMenuItem>

        <RadzenMenuItem Text="Proveedores" Icon="people">
            <RadzenMenuItem Text="Alta de Proveedores" Path="altaProveedor" Icon="add_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Listado de Proveedores" Path="listaProveedores" Icon="list"></RadzenMenuItem>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Pedidos de Provision" Icon="input">
            <RadzenMenuItem Text="Solicitar Provisión" Path="altaProvision" Icon="add_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Provisiones Solicitadas" Path="provision/userPendientes" Icon="list"></RadzenMenuItem>
            <RadzenMenuItem Text="Provisiones Aprobadas" Path="provision/userAprobados" Icon="list"></RadzenMenuItem>
        </RadzenMenuItem>


        <RadzenMenuItem Text="Compras" Icon="open_in_new">
            <RadzenMenuItem Text="Provisiones Pendientes de Aprobación" Path="provision/pendientes" Icon="add_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Provisiones en Proceso" Path="provision/aprobados" Icon="list"></RadzenMenuItem>
            <RadzenMenuItem Text="Provisiones Finalizadas" Path="" Icon="add_circle"></RadzenMenuItem>
            <RadzenMenuItem Text="Reportes" Path="" Icon="list"></RadzenMenuItem>
        </RadzenMenuItem>


    </ChildContent>
</RadzenMenu>