<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ContadSp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="titulo">
            CATEGORIAS
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="altacategoria">
                <span class="oi oi-plus" aria-hidden="true"></span> Nueva Categoria
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listacategorias">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de Categorias
            </NavLink>
        </div>
        <div class="titulo">
            ARTICULOS
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crear-articulo">
                <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Articulo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-articulos">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de Articulos
            </NavLink>
        </div>
        <div class="titulo">
            UNIDADES DE MEDIDA
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarUM">
                <span class="oi oi-plus" aria-hidden="true"></span> Nueva UM
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listarUM">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de UM
            </NavLink>
        </div>
        <div class="titulo">
            PEDIDOS
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nuevoPedido">
                <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Pedido
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="listarUM">
                <span class="oi oi-list" aria-hidden="true"></span> Listado de UM
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}