@page "/agregarUM"
@using ContadSp.Modelos
@using ContadSp.Repositorios
@inject IRepositorio<Modelo_Unidad_Medida> repositorio

<div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h3>Nueva Unidad de Medida</h3>
                    </div>
                    <div class="card-body">
                        <EditForm Model="@unidad_medida" OnValidSubmit="HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group">
                                <label for="unidad">Unidad de medida:</label>
                                <InputText id="unidad" class="form-control form-control-sm" @bind-Value="unidad_medida.unidad" maxlength="30" />
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm boton-guardar">Guardar</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
</div>


@code {
    private Modelo_Unidad_Medida unidad_medida = new Modelo_Unidad_Medida();

    private async Task HandleValidSubmit()
    {
        await repositorio.Agregar(unidad_medida);
        unidad_medida = new Modelo_Unidad_Medida();
    }
}
