@page "/editarUM/{id}"
@using ContadSp.Modelos
@using ContadSp.Repositorios
@using System.Linq
@inject IRepositorio<Modelo_Unidad_Medida> repositorio
@inject NavigationManager NavigationManager

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Editar unidad de medida</h3>
                </div>
                <div class="card-body">
                    @if (unidad_medida == null)
                    {
                        <p><em>Cargando...</em></p>
                    }
                    else
                    {
                        <EditForm Model="@unidad_medida" OnValidSubmit="HandleValidSubmit">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group">
                                <label for="unidad_medida">Unidad de medida:</label>
                                <InputText id="unidad_medida" class="form-control col-md-6" @bind-Value="unidad_medida.unidad" />
                            </div>

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    private Modelo_Unidad_Medida unidad_medida;

    protected override async Task OnInitializedAsync()
    {
        unidad_medida = await repositorio.Obtener(int.Parse(Id));
    }

    private async Task HandleValidSubmit()
    {
        await repositorio.Actualizar(unidad_medida);
        NavigationManager.NavigateTo("/listarUM");
    }
}

