@page "/nuevoPedido"
@using ContadSp.Modelos
@using ContadSp.Repositorios

@* @inject IRepositorio<Modelo_Pedido> repositorio *@

<h3>Realizar Pedido</h3>

<EditForm Model="@pedido" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator /> 
    <ValidationSummary />
 
    <div class="form-group">
        <label for="categoria">Fecha:</label>
        <InputDate id="fecha" class="form-control" @bind-Value="pedido.fecha_pedido" />
    </div>
    <div class="form-group">
        <label for="categoria">Destino:</label>
        <InputText id="destino" class="form-control" @bind-Value="pedido.destino" />
    </div>
    <div class="form-group">
        <label for="categoria">Descripción:</label>
        <InputText id="descripcion" class="form-control" @bind-Value="pedido.descripcion" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
    private Modelo_Pedido pedido = new Modelo_Pedido();

    private async Task HandleValidSubmit()
    {
    //      await repositorio.Agregar(pedido);
    //      pedido = new Modelo_Pedido();
    }
}
