@page "/nuevoPedido"
@using ContadSp.Modelos

@* @inject IRepositorio<Modelo_ABM_Pedido> repositorio *@

<h3>AltaPedido</h3>

@code {
    private Modelo_Pedido pedido = new Modelo_Pedido();

    // private async Task HandleValidSubmit()
    // {
    //     await repositorio.Agregar(pedido);
    //     pedido = new Modelo_ABM_Pedido();
    // }
}
