@page "/"

@* @using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization *@
@* @attribute [Authorize] *@

<PageTitle>Inicio</PageTitle>

<div class="text-center">
    <img src="./assets/images/logopodjud.png" alt="Logo" class="img-fluid" />
    <h1 class="display-4">SISTEMA CONTABLE CENTRO JUDICIAL DE SAN PEDRO DE JUJUY</h1>
    <p class="lead">Bienvenido a tu nueva aplicación.</p>
</div>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="font-size: 20px; font-weight: bold; text-align: center;">Aquí encontrarás tutoriales en videos y documentación sobre todo el funcionamiento del Sistema</p>
            </div>
        </div>
    </div>


</body>